<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>608441521757-dgr2j1jgjn73b3fothfhsa8go96to540.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608441521757-dgr2j1jgjn73b3fothfhsa8go96to540</string>
	<key>API_KEY</key>
	<string>AIzaSyCoRnHUrya1v1rMJ0aZt-qj-AYLmKfnxgw</string>
	<key>GCM_SENDER_ID</key>
	<string>608441521757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anae.Goji</string>
	<key>PROJECT_ID</key>
	<string>goji-c75e9</string>
	<key>STORAGE_BUCKET</key>
	<string>goji-c75e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:608441521757:ios:6f31367d88ae6130</string>
	<key>DATABASE_URL</key>
	<string>https://goji-c75e9.firebaseio.com</string>
</dict>
</plist>